* {
  box-sizing: border-box; 
}
body {
  background-image:url("images/gravel.png")

}
header {
  background-color: tan; 
  width: 100%; 
  position: fixed; 
  z-index: 1; 
  border-bottom: 2px solid silver;  
  float: left; 
  position: fixed; 
  height: 100px; 
  margin-top: 0; 
  top: 0;
  left: 0;

}
header h1 {
  float: left; 
  width: 20%; 
  background-color: olive;
  height: 100px;
  margin-left: 10%;
  padding: 10px; 
  margin-top: 0;
  text-align: center; 
  vertical-align: center; 
  padding-top: 30px; 
}
nav {
  padding-top: 40px; 
  float: left; 
  position: absolute; 
  right: 120px; 
  height: 25px; 
}
nav span {
  padding-top: 25px; 
}
nav span a {
  text-decoration: none;
  height: 40px; 
  padding: 25px 5px 25px 5px; 
}

h1 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#about-me-bla {
  width: 100%; 
  clear: both; 
}
.heading-about-me {
  font-family: 'Arial'; 
  color: aqua; 
  border-bottom: 2px solid black; 
  width: 80%;
  padding-top: 20px; 
  padding-bottom: 10px; 
  margin-left: 10px;  
}

.selfie {
  height: 100px; 
  width: 20%; 
  float: left; 
  margin-left: 10px; 
  margin-right: 10px; 
}
.par-about-me {
  width: 90%;
  padding-left: 10px; 
  padding-top: 0; 
  margin-top: 0; 
}
#portfolio-heading {
  width: 100%;  
  font-family: 'Arial'; 
  color: aqua; 
  border-bottom: 2px solid black; 
  width: 80%;
  padding-top: 20px; 
  padding-bottom: 10px; 
  margin-left: 10px;  
}

#float-container {
  background-color:#708090;
  height: 100%;
  width: 960px;
  overflow: hidden;
  margin: 120px auto; 
}
.content-heading {
  border-bottom: solid;
  width: 80%;
  margin-left: 20px;
}

.float-element {
  float: left;
  width: 34%;
  height: 100px;
  background-color: rgba(72,72,72,0.4);
  margin: 10px;
  position: relative;
  z-index: 0;
}
.superhero-image{
  width:100%;
  max-height:100%;
  object-fit: 'contain'; 
  margin: auto; 
}
.banner {
  height: 20px; 
  background-color: green; 
  position: absolute; 
  top:60px; 
  z-index: 5;
  width: 100%; 
}
.banner-text {
  margin-left:45%; 
}
.form-container {
  margin-left: 20px; 
  margin-bottom: 20px;
  width: 90% 
}
#form-heading {
  width: 100%; 
  margin-left: 0px; 
}
form {
  margin-left: 20px; 
} 
.input {
  margin-top: 10px; 
  margin-bottom: 10px; 
  width: 100%; 
}

.form-span {
  margin-top: 15px; 
}
#message-box {
  line-height: 100px; 
  padding: 20px; 
}
.submit-button {
  margin-top: 10px; 
  padding: 5px 10px; 
}

footer {
  width: 100%; 
  position: absolute; 
  bottom: 0; 
  clear: both; 
  border-top: 5px solid olive; 
  background-color: tan; 
  height: 100px;
}









/*
header {
    display: flex;
    width: 100%;
    position: fixed;
    z-index:1;
    height:69px;
    background-color: #FAF0E6;
    align-items:center;
    height: 69px;
    border-bottom: 1px solid seashell;
    
  }
  header img {
    height: 50px;
    padding-left: 10px;
  }
  nav {
    text-align: right;
    flex-grow:1;
  }
  nav span {
    display:inline-block;
    padding: 20px 10px;
  }
  h1 {
    margin-left: 50px; 
    background-color: #20B2AA;
    padding: 15px 15px;
  }
  */