/*
header {
    display: flex;
    width: 100%;
    position: fixed;
    z-index:1;
    height:69px;
    background-color: #FAF0E6;
    align-items:center;
    height: 69px;
    border-bottom: 1px solid seashell;
    
  }
  header img {
    height: 50px;
    padding-left: 10px;
  }
  nav {
    text-align: right;
    flex-grow:1;
  }
  nav span {
    display:inline-block;
    padding: 20px 10px;
  }
  h1 {
    margin-left: 50px; 
    background-color: #20B2AA;
    padding: 15px 15px;
  }
  */